<div class="row">
  <div class="span3 ">
    <h3>分类检索图片</h3>
    <ul class="nav nav-pills nav-stacked">
      <li class='active'><a href="#">野生动物</a>
      <ul class="nav nav-pills nav-list">
        <% @second.each do |cat| %>
          <li><a href="#"><%=cat.name %></a></li>
        <% end -%>
      </ul>
      </li>
      <hr/>
      <li><a href="#">野生植物</a></li>
    </ul>
  </div>
  <div class="span9">
    <% if @photos.empty? %>
      <p class="lead">没有找到您需要的图片</p>
    <% else %>
      <ul id="content" class="thumbnails">
        <% @photos.each do |obj| %>
          <li class="span3 pane">
          <div class="thumbnail">
            <a href="/photos/<%=obj.id %>"><img alt="" src="<%=obj.file.url(:thumb)  %>" width="260" height="180"></a>
            <div class="caption">
              <h5><%=obj.category.name %></h5>
              <p> <%=obj.content  %></p>
            </div>
          </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  var ajax_load = true;
</script>
