<div class="span-13 register-form">
  <h2>新用户注册</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="field span-12">
      <%= f.label :email, "邮箱" %>
      <%= f.email_field :email, :class => "title", :placeholder => "请使用常用邮箱注册" %>
     
    </div>

    <div class="field span-12">
       <%= f.label :username, "姓名" %>
      <%= f.text_field :username, :class => "title", :placeholder => "请填写您的真实姓名" %>
     
    </div>


    <div class="field span-12">
          <%= f.label :password, "密码" %>
      <%= f.password_field :password, :class => "title", :placeholder => "密码最少需要6位" %>
  
    </div>

    <div class="field span-12">
       <%= f.label :password_confirmation, "确认密码" %>
      <%= f.password_field :password_confirmation, :class => "title" %>
     
    </div>

    <div class="field span-12"><%= f.submit "注册" %><label>&nbsp;</label> 或 <%= link_to "登录", new_session_path(resource_name) %></div>
  <% end %>

 
</div>