<%= form_for(@photo , :html => {:multipart => true }  ) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :isanimal %><br />
    <%= f.check_box :isanimal %>
  </div>
  <div class="field">
    <%= f.label :piid %><br />
    <%= f.text_field :piid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
