<div class="span-12">
  <%= form_for(@photo , :html => {:multipart => true }  ) do |f| %>
    <% if @photo.errors.any? %>
      <div id="error_explanation">
        <p><strong>有 <%= @photo.errors.count %> 处问题导致无法保存数据:</strong></p>
        <ul>
          <% @photo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <fieldset>
      <div class="field">
        <%= f.file_field :file, :class =>"title" %>
      </div>
      <div class="field">
        图片的描述 <br />
        <%= f.text_area :content, :cols=> 20, :rows => 5 %>
        <p class="help-block">请至少输入25个字... ...</p>
      </div>
      <div class="field">
        关键字<br/>
        <%= f.text_field :tag_list, :class => "text"  %>
      </div>
      <div class="field">
        分类<br/>
        <%= f.select 'category_id', options_for_select(nested_set_options(Category) {|i| "#{'-' * i.level} #{i.name}" } ) %>
      </div>
      <div class="actions">
        <%= f.submit "上传图片" %>
      </div>
    </fieldset>
  <% end %>
</div>
