<% # encoding: utf-8 %>
<!DOCTYPE html>
<html>
  <head>
    <title>生态摄影库</title>
    <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'print.css', :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %><![endif]-->
    <%= stylesheet_link_tag    "welcome", :media => "all" %>
    <%= javascript_include_tag "jquery", "jquery.masonry.min","welcome" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header" class="span-24 last">
        <div class="span-5 log">
          <h1 id="book_haven">
            <a href="/"> 图片社</a>
          </h1>
        </div>
        <ul class="span-10 nav nav-pills">
          <li class="active">
            <a href="/">主页</a>
          </li>
          <li><a href="/">什么是图片社</a></li>
          <li><a href="/photos/new">上传图片</a></li>
        </ul>
        <div class="span-4 right last">
          <% unless user_signed_in? %>
            <%=link_to "注册", new_user_registration_path  %>
            <%=link_to "登录", user_session_path  %>
          <% else %>
            欢迎你,<%=current_user.username  %>
            <%=link_to "注销", destroy_user_session_path  %>
          <% end %>
        </div>
      </div>
      <hr />
    <div class="container mainpain">
      <div class="span-24">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert  %>
          <p class="alert"><%= alert %></p>
        <% end  %>
      </div>
      <%= yield %>
      <hr />
      <div id="footer">
        <div class="span-5 colborder">
          <ul>
            <li><a class="quiet" href="#">关于我们</a></li>
            <li><a class="quiet" href="#">联系我们</a></li>
            <li><a class="quiet" href="#">留言</a></li>
            <li><a class="quiet" href="#">注册</a></li>
            <li><a class="quiet" href="#">登录</a></li>
          </ul>
        </div>
        <div class="prepend-top push-3 span-8 last">
          <span class="quiet">Copyright &copy; 2012</span> |
          <a href="#" class="quiet">生态摄影中心</a>
        </div>
      </div>
    </div>
  </body>
</html>
